
@model List<WP_FirstMVC.Models.TB_CORE_OWNER>

<div id="wrapper">



    @*<nav class="navbar ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Login - Underground Storage Tank Portal</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li></li>
                    </ul>
                </div>
            </div>
        </nav>*@

    <div style="height:60px;">
    </div>


    <div id="main" class="container-fluid">



        <div class="row">
            <div>





                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <!-- Start -->
                        <div class="row">
                            <div>
                                <div class="well bs-component text-center">
                                    <img src="~/images/standard.png" height="160" />
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Please sign in</h3>
                                    </div>
                                    <div class="panel-body">
                                        <form accept-charset="UTF-8" role="form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="CERS ID#" name="email" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                                    </label>
                                                </div>
                                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- End -->


                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Due Date</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var owner in Model)
                                        {
                                            <tr>
                                                <td>@owner.OWNER_ID</td>
                                                @*<td>@task.Description</td>
                                                <td>@task.DueDate</td>
                                                <td>@Html.ActionLink("Edit", "CreateEdit", "Task", new { Id = task.Id }, new { @class = "btn btn-primary" })</td>*@
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>


                        </div>

                </div>



                <div class="row">
                    <div class="col-md-5 col-md-4 col-md-offset-4">
                        <div class="row">
                            <div>
                                <div class="well bs-component">

                                    <fieldset>
                                        <h6>For login assistance, please call Kern County Public Health Services <strong>(661) 862-8740 </strong>.</h6>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>



        <div id="footer" class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; <%=Year(Now()) %> Kern County Public Health Services</h4>
            </div>
        </div>

    </div>

</div>